<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Reservas de Salas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-light px-4">
    <span class="navbar-brand mb-0 h1">Reservas de Salas</span>
    <a href="/newReserva" class="btn btn-primary">Nova Reserva</a>
</nav>

<div class="container mt-4">
    <h3>Listagem de Reservas</h3>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="evento : ${eventos}">
            <td>
                <a th:href="@{/agendar/{id}(id=${evento.id})}"
                   th:text="${evento.titulo}">
                </a>
            </td>

            <td th:text="${evento.descricao}"></td>
            <td th:text="${evento.data}"></td>
            <td th:text="${evento.horaInicio}"></td>
            <td th:text="${evento.horaFim}"></td>
            <td th:text="${evento.status}"></td>

            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{/agendar/{id}/editar(id=${evento.id})}">
                    Editar
                </a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/deletar(id=${evento.id})}">
                    Excluir
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>